@font-face { 
	font-family: 'Bahnschrift';
	src: url('.../bahnschrift.ttf') format('ttf');
}

h1, h2, h3, li {
	font-family: Bahnschrift;
}

a {
	color: #62b0ff;
}

h2, h3 {
	font-weight: normal;
}

h1:after, h2:after, h3:after {
	content: ' ';
	display: block;
	border: 1px solid #45474D;
}

p, ul, table {
	font-size: 16px;
	font-family: Helvetica;
	color: #ACB5BE;
}

table {
	width: 100%;
}

body {
	max-width: 50%;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #161920;
	color: #E6E6E6;
}

img {
	width: 100%;
}

pre code {
	margin-left: 40px;
	background-color: #1E1F22;
	border: 1px solid #535354;
	border-radius: 5px;
	padding: 20px;
	display: block;
	white-space: pre-wrap;
}

tr, td, th {
	padding: 5px;
}

th {
	background: #4E5155;
	color: #E6E6E6;
	text-align: left;
}

td:first-child {
	width: 150px;
}

tr:nth-child(even) {
	background: #1D2027;
}

tr:nth-child(odd) {
	background: #22252B;
}

.hljs-string, h2, .sidebar a {
	color: #F38D68;
}

.hljs-number {
	color: #A8A9EB;
}

.hljs-built_in, h3, .sidebar li ul a {
	color: #ADDA78;
}

.hljs-literal {
	color: #A8A9EB;
}

.hljs-function {
	color: #85DACC;
}

.hljs-params {
	color: #F38D68;
}

.sidebar {
	height: 100%;
	width: 260px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 5px;
}

.sidebar ul {
	margin-left: -20px;
	list-style-type: none;
}

.sidebar a {
	text-decoration: none;
}

.sidebar a:hover {
	text-decoration: underline;
}